{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Tache</h1>
    <dl class="record_actions">
        <dt>
            <a href="{{ path('tache_index', { 'id': tache.projet.id }) }}" class="btn">  Retour à la liste</a>
            <a href="{{ path('materiel_by_tache', { 'id': tache.id }) }}" class="btn">Liste des materiels</a>
              {% if  us.roles[0] == "COMMERCIAL" %}
            <a href="{{ path('tache_edit', { 'id': tache.id }) }}" class="btn">Modifier</a>
            {% endif %}
            

        </dt>
    </dl>

    <table class="table table-striped table-hover" border="1">
        <tbody>
            <tr>
                <th>Datedebut</th>
                <td>{% if tache.dateDebut %}{{ tache.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if tache.dateFin %}{{ tache.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ tache.duree }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ tache.cout }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ tache.statut }}</td>
            </tr>
            <tr>
                <th>Progress</th>
                <td>{{ tache.progress }}</td>
            </tr>
        </tbody>
    </table>

            
    <dl class="record_actions">
        <dt>{{ form(delete_form) }}</dt>
     </dl>

{% endblock %}
